.education{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 100px;
    margin: 80px 170px;
}

.education-title{
    position: relative;
}

.education-title p{
    display: flex;
    align-items: center;
    justify-content: center;
    color:#857f9e;
    font-size: 20px;
    padding-top: 12%;
}
.education-title h1{
    font-size: 80px;
    font-weight: 600px;
    padding: 0px 30px;
}
.education-title img{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}

/* .education-section{
    background: rgb(29, 24, 54);
} */

.education-section h1{
    font-size: 32px;
    font-weight: 850;
}

.education-section p{
    color: #857f9e;
    margin: 0px;
}

.education-section ul{
    padding-left: 4%;
    padding-top: 4%;
}
